body {
  background-image: url(bg19.jpeg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  background-attachment: fixed; 
  
}
    

    header {
      background-color: #3e2723;
      color: white;
      text-align: center;
      padding: 2rem 1rem;
    }

    header h1 {
      font-size: 2rem;
      letter-spacing: 2px;
    }

    nav {
      background: #6d4c41;
      text-align: center;
      padding: 0.5rem 0;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-size: 1rem;
      transition: color 0.3s;
    }

    nav a:hover {
      color: #ffcc80;
    }

    section {
      padding: 3rem 1rem;
      max-width: 1000px;
      margin: auto;
    }

    .about {
      text-align: center;
    }

    .about h2 {
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    .products {
      text-align: center;
    }

    .products h2 {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
      gap: 1rem;
    }

    .product {
      background: #6d4c41;
      border-radius: 10px;
      box-shadow: 0 5px 11px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      transition:translateY 0.2s;
    }

    .product:hover {
      transform: translateY(-5px);
    }

    .product img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }

    .product h3 {
      margin-top: 0.8rem;
      font-size: 1.2rem;
    }
     
    h2 {
      text-align: center;
      margin: 50px 0 30px; 
      font-size: 26px;
      font-weight: bold;
      color: black; 
      letter-spacing: 2px; 
    }


    .contact {
      background: #d7ccc8;
      text-align: center;
      padding: 2rem 1rem;
      border-radius: 10px;
    }

    .contact h2 {
      margin-bottom: 1rem;
    }

    footer {
      text-align: center;
      padding: 2rem 1rem;
      background: #3e2723;
      color: white;
      font-size: 0.9rem;
    }

    .review h2 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2em;
    }

    .review {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 15px;
      max-width: 500px;
      margin: auto;
      
    }

    .reviews {
      background-color: #d7ccc8;
      border-radius: 15px;
      padding: 10px;
      box-shadow: 0 1px 10px rgba(0,0,0,0.08);
      transition: transform 0.2s ease;
    }

    .review:hover {
      transform: translateY(-5px);
    }

    .stars {
      color: #8b5e30;
      font-size: 1.2em;
      margin-bottom: 5px;

    }

    text {
      font-size: 0.95em;
      line-height: 1.5;
    }

  
  
    
    
   